# crontab sample file to schedule the wearther update of the ThingSpeak server 4 times per day
#
# crontab -e to add/edit schedules
# crontab -l to list schedules

0 9,14,19,23 * * * python /home/swampi/SwampertReloaded/weatherUpdate.py >> /home/swampi/SwampertReloaded/weatherLogs.txt

